#search-container {
    position: relative;
    #search-input {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #aaa;
        padding: .25em;
    }
    #search-results {
        position: absolute;
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        opacity: 0;
        .noresult {
            padding: 1em;
        }
        a {
            display: block;
            padding: 0 1em .1em;
            &:hover {
                text-decoration: none;
                background: #eee;
                .title {
                    text-decoration: underline;
                }
            }
            .desc {
                display: block;
                color: #888;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: .9em;
            }
        }
        li:first-child a {
            padding-top: .5em;
        }
        li:last-child a {
            padding-bottom: .5em;
        }
    }
    #search-input:focus + #search-results:not(:empty) {
        opacity: 1;
    }
}