body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.project-name a {
  display: inline-block;
  color: #fff;
  transition: transform .2s ease, border .1s linear;
  border-bottom: .1em solid transparent;
  &:hover {
    text-decoration: none;
    transform: translateY(-3px);
    border-bottom-color: #fff;
  }
}
.site-wrapper {
  margin: auto;
  overflow: auto;
  padding-right: 3%;
  padding-left: 7%;
  @include large {
    max-width: calc(850px + 10% + 16rem + 5%);
  }
  @include small {
    padding-right: 5%;
    padding-left: 5%;
  }
}
.site-footer {
  background: #eee;
  font-size: .9rem;
  min-height: 14em;
  .btn {
    color: #aaa;
  }
}
.main-content {
  @extend .site-wrapper;

  flex: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include large {
    width: 100%;
  }
  @include small {
    display: block;
  }
  article {
    margin: 0;
    flex: 1;
    @include large {
      max-width: 850px;
      margin-right: 4rem;
    }
    @include medium {
      margin-right: 3%;
    }
  }
  .content-sidebar {
    position: relative;
    width: 16em;
    font-size: 1rem;
    @include small {
      max-width: none;
      margin-top: 5rem;
      padding-top: 3rem;
      border-top: 1px solid #eee;
    }

    .wrapper {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: sticky;
      top: 2rem;
      @include small {
          top: 1rem;
      }
    }

    .main-nav {
      @include small {
        margin: 2rem 0 0 5%;
      }
      ul,
      ol {
        list-style: none;
        padding: 0;
      }
      li {
        margin: .5em 0;
      }
      li:before {
        margin-right: .5em;
        color: #ccc;
      }
      .chapters {
        counter-reset: chapter;
        .chapter {
          counter-increment: chapter;
          &:before {
            font-size: .9em;
            margin-right: 1em;
          }
          ol > li {
            position: relative;
            &.current > a {
              font-weight: bold;
            }
            > ul {
              border: 1px solid #eee;
              border-width: 1px 0;
              margin: 1em 0;
              padding: 0 0 0 1.5em;
            }
          }
        }
      }
      .toc {
        li:before {
          content: '#';
        }
        a {
          color: $section-headings-color;
        }
      }
    }
  }
article {
    > :first-child:not(h1):not(h2):not(h3) {
      margin-top: 4em;
    }
    a {
      @extend .external-link;
    }
    table {
      font-size: 1rem;
    }
    figure {
        margin-left: 0;
        margin-right: 0;
        figcaption {
        text-align: right;
        font-size: .9rem;
        font-style: italic;
        }
    }
    p {
        text-align: justify;
        margin-bottom: 1em;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        & img:only-child {
          display: block;
          margin: auto;
        }
    }

    h1 {
      text-transform: uppercase;
    }
    h2 {
      border-bottom: 1px dotted #ddd;
    }
    h3 {
      color: #777;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: normal;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h4 {
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

ul {
  list-style-position: inside;
}
kbd
{
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: inherit;
  font-size: .9rem;
  margin: 0 .1em;
  min-width: 2em;
  padding: .1em .4em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

.btn {
  line-height: 1;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.1s linear;
  
  color: $body-link-color;
  border: 1px solid #eee;
  background: #fff;

  &:hover {
    transform: translateY(-3px);
    color: $body-link-color;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: #ccc 0 3px 0, rgba(0, 0, 0, .1) 0 4px 2px;
  }

  &:active {
    transform: translateY(0);
    color: $body-link-color;
    box-shadow: none;
  }
}
@mixin button($color, $text-color) {
  @extend .btn;
  $light: lighten($color, 7%);
  $dark: darken($color, 10%);

  color: $text-color;
  border: 1px solid $color;
  background: $light;
  background: linear-gradient(to bottom, $light 0%, $color 100%);
  box-shadow: $dark 0 3px 0, rgba(0, 0, 0, .2) 0 3px 3px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);

  &:hover {
    color: $text-color;
    border: 1px solid $color;
    background: $light;
    background: linear-gradient(to bottom, $light 0%, $color 100%);
    box-shadow: $dark 0 6px 0, rgba(0, 0, 0, .2) 0 9px 4px;
  }

  &:active {
    box-shadow: $dark 0 2px 0, rgba(0, 0, 0, .2) 0 2px 2px;
  }
}
.btn-call,
.btn-green {
  @include button(#61b736, #fff);
}
article .btn-call,
.btn-blue {
  @include button(#2A84C4, #fff);
}


.external-link {
  &[href^="http"] {
    font-style: italic;
  }
  &[href*="wikipedia.org"]:after {
    content: ' (wikipedia)';
    color: #0645ad;
    margin-left: -.1em;
    opacity: .5;
  }
}


.layout-error {
  article img:first-child {
    display: block;
    margin: 2em auto;
  }
  .content-sidebar .btn {
    display: none;
  }
  .site-footer .btn {
    display: none;
  }
  article .action-call {
    margin-top: 2em;
    p:first-child {
      display: none;
    }
    .btn-call {
      @extend .btn-green;
    }
  }
}