.page-content {
  display: flex;
  justify-content: center;
  position: relative;
  @include small {
    display: block;
  }
  .content-sidebar {
    @include large {
    padding: 2rem 3rem;
    }

    @include medium {
    padding: 2rem 2rem;
    }

    @include small {
    padding: 1rem .5rem;
    }

    .wrapper {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 2rem;
    @include small {
        top: 1rem;
    }
    }
  }
  .main-content {
    figure {
        margin-left: 0;
        margin-right: 0;
        figcaption {
        text-align: right;
        font-size: .9rem;
        font-style: italic;
        }
    }
    p {
        text-align: justify;
        margin-bottom: 1em;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
  }
}

kbd
{
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}