$sidebarWidth = 20rem
$contentWidth = 850px

$codeBgColor = #f3f6fa

.content p img:only-child
    display block
    margin 0 auto 2em
    box-shadow 0 0.3em 1em rgba(0,0,0,0.1)

.content pre code
.content pre[class*="language-"] code
    color #555;

.sidebar-group:not(.last)
    margin-bottom 1em 