$navbarHeight = 5rem

$sidebarWidth = 20rem
$contentWidth = 850px

$accentColor = #10834A
$codeBgColor = #f3f6fa

.content p img:only-child
    display block
    margin 0 auto 2em
    box-shadow 0 0.3em 1em rgba(0,0,0,0.1)

.content pre code
.content pre[class*="language-"] code
    color #555;

.sidebar-group:not(.last)
    margin-bottom 1em 

.navbar
    background-color #159957
    background-image linear-gradient(120deg, #155799, #159957)
    .site-name
        color: #fff

.nav-links a:hover
.nav-item > .nav-link
a.repo-link
.dropdown-title .title
.nav-links a.router-link-active
    @media (min-width: 719px)
        color #fff
.dropdown-wrapper .dropdown-title .arrow
    @media (min-width: 719px)
        border-top-color #fff

.search-box input
    background-color: #ffffff22
    border-color: #ffffff22
    color: #fff

// fix of accessibility contrasts
.page-edit .last-updated .time {
    color: #4e6e8e;
}