<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}, {{ site.description | slice: 0,1 | downcase }}{{ site.description | slice: 1,site.description.size }}{% else %}{{ site.title }}{% endif %}</title>
    {% seo title=false %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <style id="cachedFonts" type="text/css">
      {% capture fonts %}{% include fonts.scss %}{% endcapture %}
      {{ fonts | scssify | strip_newlines }}
    </style>
    <script>
      if(!sessionStorage.fonts) document.getElementById('cachedFonts').disabled = true;
      WebFontConfig = {
        google: {
          families: ['Lato:400,400i,700']
        },
        timeout: 2000,
        active: function() {
          sessionStorage.fonts = true;
        }
      };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
    <style type="text/css">
      {% capture critical %}{% include style.scss %}{% endcapture %}
      {{ critical | scssify | strip_newlines }}
    </style>
  </head>
  <body class="layout-{{ page.layout }} page{{ page.id | replace:'/','-' }}">
    <header class="page-header">
      <h1 class="project-name"><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>

    <div class="main-content">
      <article>
        <header>
          {% if page.image %}<img src="{{ page.image.src }}"{% if page.image.alt %} alt="{{ page.image.alt }}"{% endif %}{% if page.image.title %} title="{{ page.image.title }}"{% endif %} />{% endif %}
          {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        </header>
        {% include shortcodify.html content=content %}
      </article>
    
      <aside class="content-sidebar">
        <div class="wrapper">
          <p><a class="btn-call" target="_blank" href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">Modifier cette page</a></p>
          {% include search.html %}
          <nav class="main-nav">
            <ol class="chapters">
            {% for chapter in site.data.sommaire %}
              <li class="chapter">
                {% if chapter.name %}<p><strong>{{ chapter.name }}</strong></p>{% endif %}
                {% if chapter.pages %}
                <ol>
                  {% for item in chapter.pages %}
                    {% assign p = site.pages | where_exp: 'x', 'x.url == item' | first %}
                    {% include navigation-item.html item=p %}
                  {% endfor %}
                </ol>
                {% endif %}
              </li>
            {% endfor %}
            </ol>
          </nav>
        </div>
      </aside>
    </div>

    <footer class="site-footer">
      <div class="site-wrapper">
        {% capture footer %}{% include footer.md %}{% endcapture %}
        {{ footer | markdownify }}
      </div>
    </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        {% for id in site.google_analytics %}
          ga('create', '{{ id }}', {name: 'foo{{ forloop.index }}'});
          ga('foo{{ forloop.index }}.send', 'pageview');
        {% endfor %}
      </script>
    {% endif %}
  </body>
</html>
