{% assign entries = site.pages %}
{% capture childs %}
  {% for entry in entries %}
    {% capture slug %}{{ entry.url | split: "/" | last }}{% endcapture %}
    {% capture curr %}{{ entry.url | remove: slug | append: "/" | remove: "//" }}{% endcapture %}
    {% if curr == include.context %}
      {% include navigation-item.html item=entry showall=include.showall %}
    {% endif %}
  {% endfor %}
{% endcapture %}
{% assign childs = childs | strip %}
{% if childs != '' %}<ul>{{ childs }}</ul>{% endif %}