{% assign entries = site.pages %}
{% if include.filterby %}
  {% assign entries = entries | where: include.filterby, include.filterval %}
{% endif %}
{% assign context = include.context | url_decode | append: '/' %}
{% assign contextdir = include.context | url_decode | split: '/' | last %}
{% assign entries = entries | where_exp: 'x', 'x.url contains context' | sort: 'order' %}
{% capture childs %}
{% for entry in entries %}
  {% assign parent = entry.url | split: '/' | reverse %}
  {% if parent[1] == '' or parent[1] == contextdir %}
    <li class="{% if page.url contains entry.url %}active{% endif %}{% if page.url == entry.url %}current{% endif %}">
      <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
      {% if page.url == entry.url %}
      <div class="toc">{% include toc.html html=content %}</div>
      {% endif %}
      {% if page.url == entry.url or page.url contains entry.url or include.showall %}
        {% include navigation.html context=entry.url %}
      {% endif %}
    </li>
    {% endif %}
{% endfor %}
{% endcapture %}
{% assign childs = childs | strip %}
{% if childs != '' %}<ul>{{ childs }}</ul>{% endif %}