{% assign output = include.content %}

{% if page.pluginlist %}
    {% capture pluginlist %}
    <table>
        <tr class="center">
            <th>{{ page.pluginlist.texts.plug }}</th>
            <th>{{ page.pluginlist.texts.desc }}</th>
            <th>{{ page.pluginlist.texts.date }}</th>
        </tr>
        {% assign pages = site.pages | sort: 'plugin_date' | reverse %}
        {% for item in pages %}{% if item.plugin_desc %}
        <tr>
            <td><a href="{{ item.url }}">{{ item.title }}</a></td>
            <td>{{ item.plugin_desc }}</td>
            <td class="center">{{ item.plugin_date }}</td>
        </tr>
        {% endif %}{% endfor %}
    </table>
    {% endcapture %}
    {% assign output = output | replace: '<!-- pluginlist -->', pluginlist %}
{% endif %}

{% if page.pageslist %}
    {% capture pageslist %}
        {% include navigation.html context='' showall=true %}
    {% endcapture %}
    {% assign output = output | replace: '<!-- pageslist -->', pageslist %}
{% endif %}

{% if page.imageslist %}
    {% capture imageslist %}
        {% assign images = site.static_files | where: 'image', true %}
        {% for image in images %}
        <a href="{{ image.path }}">{{ image.basename }}</a> /
        {% endfor %}
    {% endcapture %}
    {% assign output = output | replace: '<!-- imageslist -->', imageslist %}
{% endif %}

{{ output }}